.form {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.radioButtons {
  display: flex;
  column-gap: 40px;
  align-items: center;
}

.submitButtons {
  display: flex;
  column-gap: 12px;
  margin-left: 52px;
  margin-right: 80px;
}

.newArrButton {
  min-width: 168px;
}

.visualization {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 340px;
  column-gap: 16px;
}